[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
djangorestframework = "~=3.12.2"
django-cors-headers = "~=3.5.0"
djangorestframework-simplejwt = "~=4.5.0"
asgiref = "~=3.3.1"
django-filter = "~=2.4.0"
mysqlclient = "~=2.0.1"
pytz = "~=2020.4"
sqlparse = "~=0.4.1"
Django = "~=3.1.3"
PyJWT = "~=1.7.1"

[requires]
python_version = "3.8"
